<section>
  <div class="header" id="myHeader">
    <h2>Sign up</h2>
  </div>


  <div class="signup-container">
    <form action="/signup" method="post" class="signup-form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name-input">Name:</label>
        <input class="form-control" type="text" name="name" id="name-input">
      </div>

      {{#if errorMessage.name }}
      <p class="error-message">
        {{ errorMessage.name }}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="firstName-input">First name:</label>
        <input class="form-control" type="text" name="firstname" id="firstName-input">
      </div>

      {{#if errorMessage.firstname}}
      <p class="error-message">
        {{ errorMessage.firstname}}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="userName-input">Username:</label>
        <input class="form-control" type="text" name="username" id="userName-input">
      </div>

      {{#if errorMessage.username}}
      <p class="error-message">
        {{ errorMessage.username}}
      </p>
      {{/if}}


      <div class="form-group">
        <label for="email-input">Email:</label>
        <input class="form-control" type="email" name="email" id="email-input">
      </div>

      

      {{#if errorMessage.emailExists}}
      <p class="error-message">
        {{ errorMessage.emailExists }}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="password-input">Password:</label>
        <input class="form-control" type="password" name="password" id="password-input">
      </div>

      {{#if errorMessage.passwordMessage}}
      <p class="error-message">
        {{ errorMessage.passwordMessage }}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="address-input">Address</label>
        <input class="form-control" type="text" name="address" id="address-input">
      </div>

      {{#if errorMessage.address}}
      <p class="error-message">
        {{ errorMessage.address}}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="postCode-input">Post code:</label>
        <input class="form-control" type="text" name="postcode" id="postCode-input">
      </div>

      {{#if errorMessage.postCode }}
      <p class="error-message">
        {{ errorMessage.postCode }}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="city-input">City</label>
        <input class="form-control" type="text" name="city" id="city-input">
      </div>
      {{#if errorMessage.city}}
      <p class="error-message">
        {{ errorMessage.city }}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="phone-input">Phone:</label>
        <input class="form-control" type="text" name="phone" id="phone-input">
      </div>
      {{#if errorMessage.phone }}
      <p class="error-message">
        {{ errorMessage.phone }}
      </p>
      {{/if}}

      <div class="form-group">
        <label for="profilePicture-input">Profile picture:</label>
        <input class="form-control" type="file" name="profilePicture" id="profilePicture-input">
      </div>

      <button class="signup-button">Sign up</button>
    </form>

    {{#if errorMessage.generic}}
    <p class="error-message">
      {{ errorMessage.generic }}
    </p>
    {{/if}}

    <p>
      Already have an account?
      <a href="/login">
        Log in.
      </a>
    </p>
  </div>
</section>