<a href="/recipe/{{id}}" style="width: 18rem;" >
  <div class="card" style="width: 18rem;" id="card-list">
    <img src="{{image}}" class="card-img-top" alt="{{title}}" id="img-card-list">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{inspiration}}</p>
    </div>
  </div>
</a>

