<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{title}}</title>


  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddzºIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

 <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Marcellus&family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <!-- Iconos fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
    integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
    integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="wrapper">
    <!-- Sidebar Nav -->
    <nav id="sidebar">
      <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
      </div>
      <div class="sidebar-header">
         <div class="form-group">
            <img src="{{currentUserInfo.profilePicture}}" alt="">
         </div>
      </div>
      {{#if isUserLoggedIn}}
      <ul class="list-unstyled components">
        <li>
          <a href="/profile">Profile</a>
        </li>
        <li>
          <a href="/list-recipes">Recipes</a>
        </li>
        <li>
          <a href="/add-recipe">Add Recipe</a>
        </li>
        <li>
          <a href="/own-recipes">Your Recipes</a>
        </li>
      </ul>
      <ul class="list-unstyled CTAs">
        <li>
          <a href="/logout" class="article">Log Out</a>
        </li>
      </ul>
      {{else}}
      <ul class="list-unstyled components">
        {{!-- enlace a singup no funciona, no entiendo --}}
        <li>
          <a href="/signup">Sign up</a>
        </li>
        <li>
          <a href="/login">Log in</a>
        </li>
        {{/if}}
      </ul>
    </nav>

    <!-- Page Content and nav without collapse, donde cambiará el icono de usuario-->

    <div id="content">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-bars"></i>
            {{#if isUserLoggedIn}}
              <span>Enjoy</span>
            {{else}}
              <span>Acces</span>
            {{/if}}
          </button>
          <h4 class="logo">foodyou</h4>
          <a class="navbar-brand" href="/list-recipes"><img class="icon" src="/images/bbq.png"></img></a>
        </div>
      </nav>

      {{{body}}}
      <footer>
        <nav class=" footer navbar sticky-bottom navbar-light bg-light">
          <a class="navbar-brand" href="#">foodyou &copy;2020</a>
          <div class="socials">
            <a href="http://twitter.com" target="_blank"><i class="fab fa-twitter fa-1x text-info mx-1"></i></a>
            <a href="http://facebook.com" target="_blank"><i class="fab fa-facebook fa-1x text-primary mx-1"></i></a>
            <a href="http://pinterest.com" target="_blank"><i class="fab fa-pinterest fa-fw"></i></a>
            <a href="http://youtube.com" target="_blank"><i class="fab fa-youtube fa-1x text-danger mx-"></i></a>
          </div>
        </nav>
      </footer>
    </div>
    {{!-- conseguir el fondo opaco al abrir el menu --}}
    <div class="overlay"></div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    {{!-- functions for the sidebar --}}
    <script type="text/javascript">
      $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
          theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
          $('#sidebar').removeClass('active');
          $('.overlay').removeClass('active');
        });

        $('#sidebarCollapse').on('click', function () {
          $('#sidebar').addClass('active');
          $('.overlay').addClass('active');
          $('.collapse.in').toggleClass('in');
          $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
      });
    </script>
    {{!-- function for the sticky on scroll header --}}
    <script>
      window.onscroll = function () { myFunction() };

      var header = document.getElementById("myHeader");
      var sticky = header.offsetTop;

      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script>
</body>

</html>