

<div class="header" id="myHeader">
  <h1>My Header</h1>
</div>

<section class="content">
<h5>That's what we offer</h5>
 <div class="list-recipes-container">
  {{#each recipes}}
  <div class="card" style="width: 18rem;" id="card-list">
    <img src="{{image}}" class="card-img-top" alt="{{title}}" id="img-card-list">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{inspiration}}</p>
    </div>
    <a href=`/recipe-detail/{{id}}` class="btn btn-primary" id="a-detail-recipe">Details</a>
  </div>
  {{/each}}
</section>
 