
<div class="header" id="myHeader">
  <h1>My Header</h1>
</div>

<div class="card mb-3">
  <img src="{{this.recipe.image}}" class="card-img-top" alt="">
   <div class="card-body">
    <h5 class="card-title">{{this.recipe.title}}</h5>
     <p class="card-text">{{this.recipe.inspiration}}</p>
       <p class="card-text"><small class="text-muted">{{this.recipe.ingredients}}</small></p>

    <p class="card-text"><small class="text-muted">{{this.recipe.duration}}</small></p>
    
    <iframe width="560" height="315" src="{{this.recipe.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
  </div>
</div>
{{#if this.recipe.author}}
<div class="buttons">
<a class="btn btn-danger" href="/:id/delete" role="button">Delete</a>
</div>
{{else}}
<div class="buttons">
<a class="btn btn-primary" href="/" role="button">Let's cook</a>
</div>
{{/if}}